body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px rgba(255, 255, 255, 0.5); /* Светлая тень */
}

.product_id {
  color: #2c3e50; /* Тёмно-синий текст */
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px rgba(255, 255, 255, 0.5); /* Светлая тень */
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
  color: #e74c3c; /* Красный цвет */
}

/* Оформление кнопок */
button {
  background-color: #3498db; /* Синий фон */
  color: #fff; /* Белый текст */
  border: none;
  border-radius: 5px; /* Скругленные углы */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9; /* Более темный синий при наведении */
}

button:active {
  background-color: #1a5980; /* Еще более темный цвет при нажатии */
}

button:disabled {
  background-color: #bdc3c7; /* Серый цвет для неактивных кнопок */
  cursor: not-allowed;
}
