{% extends "main/base.html" %}
{% load static %}

{% block title %}
    О нас - Web Shop
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>{{ content|default:"О нас" }}</strong></h2>
        <p class="m-2">{{ text_on_page|default:"Добро пожаловать на страницу о нас. Здесь вы узнаете больше о нашем проекте." }}</p>
    </div>
{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio {{ now|date:"Y" }}</p>
    </div>
</footer>
{% endblock footer %}
